.header {
    height: 8vh;
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

.header-cont div a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-family: cursive;
}

.search-cont {
    text-align: center;
}

.search-field {
    background-color: white;
    display: inline;
    padding: 8px;
    border-radius: 15px;
}

.search-field i {
    padding-right: 10px;
}

.search-field input {
    border: 0;
}

.profile-cont {
    text-align: end;
}